.form-container {
  background: #E5F3F2;
}

form {
  display: flex;
  height: 100vh;
  justify-content: center;
}

h1 {
  color: #6D6E71;
  text-align: center;
  font-size: 100px;
}

span {
  color: #00A79D;
}

.input-field-size {
  width: 500px;
  font-size: 30px;
  margin: 15px;
}

.save-button {
  background: #00A79D;
  color: #FFFFFF;
}

.save-button:hover {
  background: #045E55;
}
