header {
  display: flex;
  justify-content: center;
  background: #E5F3F2;
  font-family: 'Roboto Slab', sans-serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}
form {
    margin: 50px;
}

h1 {
  color: #6D6E71;
  text-align: center;
  font-size: 4em;
}

span {
  color: #00A79D;
}

.input-field-size {
  width: 500px;
  font-size: 30px;
  margin: 15px;
}

.save-button {
  background: #00A79D;
  color: #FFFFFF;
}

.save-button:hover {
  background: #045E55;
}

.layout-section-user-output{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Search */
/*TODO: fix the search bar...*/
.search-input {
  border: 1px solid #D1D3D4;
}

/* Ideas */
.user-idea {
  width: 500px;
  border-bottom: 2px solid #D1D3D4;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-idea-title {
  display: inline-block;
  line-height: 1.2em;
  margin: 10px;
  color: #6D6E71;
  font-weight: bold;
  font-size: 1.5em;
  max-width: 80%;
}
.user-idea-body {
  display: block;
  line-height: 1.2em;
  margin: 10px 10px 30px 10px;
  color: #939598;
}

.idea-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  display: inline-block;
}
.delete {
  float: right;
  margin: 10px;
  background-image: url(../img/delete.svg);
}
.delete:hover {
  background-image: url(../img/delete-hover.svg);
}
.idea-footer {
  display: flex;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.upvote {
  margin: 0px 10px 0px 10px;
  background-image: url(../img/upvote.svg);
}
.upvote:hover {
  background-image: url(../img/upvote-hover.svg);
}
.downvote {
  margin: 0px 10px 0px 10px;
  background-image: url(../img/downvote.svg);
}
.downvote:hover {
  background-image: url(../img/downvote-hover.svg);
}

.quality {
  color: #6D6E71;
  font-size: 1em;
  display: inline-block;
  margin: 0 5px 0px 10px;
  vertical-align: center;
}

@media (max-width: 600px) {
  form {
    width: 100%;
  }
  .input-field-size {
    max-width: 90%;
    border: border: 4px solid #D1D3D4;
  }
  .all-ideas {
    width: 90%;
  }
  .user-idea {
    max-width: 100%;
  }
  .user-idea-title {
    max-width: 73%;
  }

}
